*~
*.swc
!single_compartment.swc
!ball_stick.swc
*.pyc
*.pyo
*.h5
*.aux
*.log
*.pdf
*.old
.ipynb_checkpoints
*.nb
.DS_Store
x86_64
*.mod
*.xls
*.xlsx
__pycache__
!mechanisms/*.mod
!mechanisms_hbp/*.mod
!mechanisms_hpc/*.mod
synaptic_cooperativity
